<section class="h-[60vh] bg-fixed text-center bg-cover bg-center bg-no-repeat m-auto flex justify-center items-center text-white" style="background-image: url(https://wallpaperaccess.com/full/3327493.jpg)">
    <div class="flex flex-col justify-center items-center space-y-4 max-w-3xl">

        <h1 class="!text-8xl font-extrabold">
            About {{"name"}}
        </h1>

        <p>
            We are a tech company specializing in software, app, and web development, as well as UX/UI design, QA, devops, and database management.
        </p>
        <p>
            Our team is dedicated to delivering high-quality solutions tailored to our clients' needs, ensuring efficiency and reliability at every step.
        </p>
    </div>
</section>