<!-- <section class="hero-section flex items-end justify-center mx-auto relative h-[60vh] container" style="background-image: url(https://wallpapercave.com/wp/BAIavaT.jpg)">
    <div>
        <span class="uppercase mb-2">
            Software engineer
        </span>
        <div>
            <p mat-h1 class="text-3xl font-medium !mb-4">Hello, I'm Zeshan Shakil</p>
            <p class="mat-subheading-2">Welcome to my portfolio! Here, you'll find insights into my journey as a Full Stack Engineer, including my skills, experiences, and projects. Dive in to discover more about what I have to offer!</p>
        </div>
        <div class="mt-8 space-x-2">
            <button mat-stroked-button (click)="openOfferModal()">Create offer</button>
            <button mat-flat-button color="primary" routerLink="/contact">Get in touch</button>
        </div>
    </div>
</section> -->



<section class="h-[60vh] bg-fixed bg-cover bg-center bg-no-repeat flex justify-center m-auto" style="background-image: url(https://wallpapercave.com/wp/BAIavaT.jpg)">
    <div class="flex justify-center flex-col m-auto text-white">
        <span>
            Software Development
        </span>
        <h1 class="!text-8xl font-extrabold text-center">
            Simplify.Automate.Grow
        </h1>

        <mat-divider class="!m-8"></mat-divider>

        <p class="text-xl text-center">
            We help build and manage a team of world-class developers to bring your vision to life
        </p>

        <mat-divider class="!m-8"></mat-divider>

        <mat-toolbar color="secondary" class="space-x-2" mat-raised-button>
            <span class="spacer"></span>
            <button mat-flat-button color="primary" (click)="scheduleMeeting()">Schedule a meeting</button>
        </mat-toolbar>
    </div>
</section>