<section class="h-[60vh] bg-fixed bg-cover bg-center bg-no-repeat flex justify-center m-auto" style="background-image: url(https://wallpapercave.com/wp/BAIavaT.jpg)">
    <div class="flex justify-center flex-col m-auto text-white">
        <h1 class="!text-8xl font-extrabold text-center">
            Software Development
        </h1>
        <span class="text-xl text-center">
            ADD THESE ARE HERE AND ADD ALSO FUNTIONALITY TO CHANGE AUTOMATICALLY
        </span>

        <mat-divider class="!m-8"></mat-divider>

        <p class="text-xl text-center">
            We help build and manage a team of world-class developers to bring your vision to life
        </p>

        <mat-divider class="!m-8"></mat-divider>

        <mat-toolbar color="secondary" class="space-x-2">
            <span class="spacer"></span>
            <button mat-stroked-button (click)="scheduleMeeting()">Schedule meeting</button>
            <button mat-flat-button color="primary" (click)="openOfferModal()">Create offer</button>
        </mat-toolbar>
    </div>
</section>